
.triangle{
  fill: transparent;
  stroke: orange;
  stroke-width: 2;
  transition: all 0.8s ease-in-out;
}

.network-svg{
  fill: black;
  border: 1px solid black;
  background: black;
}

.node{
  stroke: orange;
  fill: transparent;
  stroke-width: 1;
}

.node-connector{
  stroke: orange;
  stroke-width: 1;
}
